.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
