<li [style.background-color]="odd ? 'lightgrey' : 'transparent'" [appHighlightDateBased]="course.creation_date" [ngClass]="{'course--top-rated': course.topRated}">
  <p>
    {{course.title | uppercase}}
    <span *ngIf="course.topRated">!</span>
  </p>
  <p>{{course.creation_date | date : 'longDate'}}</p>
  <p>{{course.description}}</p>
  <p>{{course.duration | duration}}</p>
  <button>edit</button>
  <button (click)="deleteModal.open()" class="delete">delete</button>
  <app-modal *ngIf="deleteModal.isOpened">
    Delete {{course.title | uppercase}}?
    <button (click)="deleteModal.close()" class="delete">cancel</button>
    <button (click)="onCourseDelete()" class="delete">delete</button>
  </app-modal>
</li>
