<div class="content-container">
  <input type="text" [(ngModel)]="searchValue">
  <button (click)="onSearchButtonClick()">Search</button>
  <button>Add course</button>
  <div *ngIf="courses.length; else elseBlock">
    <ul>
      <app-course-list-item
        *ngFor="let course of courses; trackBy: trackCourseById; let odd=odd;"
        [course]="course"
        [odd]="odd"
        (deleteCourse)="deleteCourse($event)"
      ></app-course-list-item>
    </ul>
  </div>
  <ng-template #elseBlock><div>No data</div></ng-template>
</div>

