<div class="content-container">
  <input type="text" (keyup)="onSearchInputKeyup($event)">
  <button routerLink="./new">Add course</button>
  <div *ngIf="courses.length; else elseBlock">
    <ul>
      <app-course-list-item
        *ngFor="let course of courses | orderBy:'creation_date':transformFieldValueForOrder; trackBy: trackCourseById; let odd=odd;"
        [course]="course"
        [odd]="odd"
        (deleteCourse)="deleteCourse($event)"
      ></app-course-list-item>
    </ul>
    <button (click)="goToPrevPage()" *ngIf="queryParams['_page'] > 1">Prev page</button>
    <button (click)="goToNextPage()">Next page</button>
  </div>
  <ng-template #elseBlock><div>No data</div></ng-template>
</div>

